@Model WorkAroundGoogleAnalytics.Models.Response
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@section GoogleAnalyticsObject {

}
@section iframega
{
    @{
        int random = new Random().Next(int.MinValue, int.MaxValue);


        <iframe height="0" width="0" id="gaframe" src="/t/hit.html?t=@Model.Recipe.RecipeId&r=@random"></iframe>
    }
}